<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase "/cytech/"
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^user(.*) index.php [QSA,NC,L]
</IfModule>